[submodule "andEngine"]
	path = andEngine
	url = https://github.com/nicolasgramlich/AndEngine.git[submodule "andEnginePhysicsBox2DExtension"]
	path = andEnginePhysicsBox2DExtension
	url = https://github.com/nicolasgramlich/AndEnginePhysicsBox2DExtension.git